.text-align-center{
    text-align: center !important;
}

.card-new{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    background-clip: border-box;
    border: 2px solid #007F26;
    background: lavender;
    border-radius: .25rem;
    cursor: pointer;
}