.text-align-center{
    text-align: center;
}
.mt-15 {
    margin-top: 15px !important;
}

.editor-section {
    min-height: 620px;
    height: auto;
    border: 4px solid gray;
    background-color: #FFFFFF;
    padding-top: 24px;
    cursor: text;
}